#imageid {
  width: 150px !important;
  height: 100px !important;
  object-fit: contain;
  margin-bottom: 20px;
}
#ReadTxt {
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  color: white;
  background-image: linear-gradient(to right, #e74e4b, #fb8133, #e74e4b);
  width: 100%;
  margin-bottom: 15px;
}
.alldef {
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  color: white;
  background-image: linear-gradient(to right, #e74e4b, #fb8133, #e74e4b);
  width: 100%;
  margin-bottom: 15px;
}
button-solid.button-orange {
  background-image: linear-gradient(to right, #e74e4b, #fb8133, #e74e4b);
}
button-solid.button-orange:hover,.alldef:hover,#ReadTxt:hover{
  background-image: linear-gradient(to right, #fb8133,#e74e4b,#fb8133);
}
.cover {
  width: 100%;
  margin: 0 auto;
}
