h3 {
  display: inline;
}
body {
  min-width: 300px;
  min-height: 100px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  color: black;

  align-content: center;
}

i {
  font-size: 1em;
  vertical-align: middle;
  margin-right: 5px;
  color: blue;
}
.upper {
  display: flex;
  justify-content: center;
  height: 150px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
#imageid {
  width: 150px !important;
  height: 100px !important;
  object-fit: contain;
}
.slidercontent {
  margin-top: 0;
}
p {
  /* padding: 10px; */
  color: black;
}
#outer {
  display: flex;
  justify-content: space-around;
}
.inner1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.hide {
  display: none;
}
